body {
  margin: 0;
  padding: 0;
<<<<<<< HEAD
  font-family: 'Press Start 2P', cursive;
  src: url('https://fonts.googleapis.com/css?family=Press+Start+2P');
}

h1.App-title {
  background: black;
  color:white;
  font-family: 'Press Start 2P', cursive;
  src: url('https://fonts.googleapis.com/css?family=Press+Start+2P');
  font-size: 26px;
  margin-top: 0;
  font: bold;
    border-top: 7px dotted white;
    font-display: center;
}

div.App {
  background: black;
  color: white;
  font-family: 'Press Start 2P', cursive;
  src: url('https://fonts.googleapis.com/css?family=Press+Start+2P');
}

#killCount{
  font-family: 'Press Start 2P', cursive;
  src: url('https://fonts.googleapis.com/css?family=Press+Start+2P');
  height: 25px;
  border: 5px, red;
}

ul.nav.nav-tabs{
  border-top: 7px dotted white;
	box-shadow: inset 0 3px 0 0 white, 0 -3px 0 0 white;
    border-bottom: 7px dotted white;
	box-shadow: inset 0 -3px 0  black, 0 3px 0 black;
  
}

a.nav-link.active{
  border-left: 7px dotted white;
  border-right: 7px dotted white;
}
=======
  font-family: sans-serif;
}
>>>>>>> 9cdb1ffc198d36c77b8e410aa7669545a24ff3a2
